/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-7-26, 18:45:50
    Author     : yukisora
*/

.table
{
    white-space: nowrap;
}

.dataform
{
    margin-left: 30px;
}
.pagination
{
    margin-left: 30px;
}
.footer
{
    margin-left: 30px;    
}
.buttontianjia
{
    padding-left: 750px;
}