/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-7-26, 18:45:50
    Author     : yukisora
*/

.table
{
    white-space: nowrap;
}

.dataform
{
    margin-left: 30px;
}
.pagination
{
    margin-left: 30px;
}
.footer
{
    white-space: nowrap;
    margin-left: 10px;
}
.buttontianjia
{
    padding-left: 760px;
}
.cangkupadding
{
    padding-left: 30px;
}
.kucunpadding
{
    padding-left: 30px;    
}
.control-group.info .control-label,
.control-group.info .help-block,
.control-group.info .help-inline {
  color: black;
}
.control-group.info .checkbox,
.control-group.info .radio,
.control-group.info input,
.control-group.info select,
.control-group.info textarea {
  color: black;
}
.control-group.info input,
.control-group.info select,
.control-group.info textarea {
  border-color: silver;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}